    /* ALL */

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: teko, sans-serif;

}

    /* HEADER */

#header-box{
    height: 80px;
    width: 100vw;
    max-width: 100%;
}
#title{
    margin: .5% 0 0 2%;
    font-size: 200%;
    font-family: teko, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    float: left;
}
#menu{
    margin: .5% 1% 0 0;
    font-size: 4vh;
    font-family: teko, sans-serif;
    float: right;
    word-spacing: 10px;
}
#menu, #title{
    line-height: 70px;
}
#menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#menu li{
    list-style: none;
    display: inline;
}
#index-background-image-container{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: relative;
}
#index-background-image{
    background: url('../images/index\ background\ 3.jpg');
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#slogan-container{
    color: rgb(255, 255, 255);
    margin: auto;
    width:50vw;
    height:100vh;
    display: flex;
    justify-content: space-evenly;
}
#slogan-header{
    font-family: teko, sans-serif;
    font-size: 15vh;
    text-align: center;
    height:150px;
    margin-top: 30vh;
    overflow: hidden;
    letter-spacing: 3px;
}
#slogan-text{
    font-family: teko, sans-serif;
    font-size: 5vh;
    text-align: center;
    letter-spacing: 3px;
}
#slogan a{
    text-decoration: none;
    text-align: center;
    margin-left:12vw;
    padding: .5% 3% .5% 3%;
    font-size: 150%;
    background: rgb(207,164,148);
    background: radial-gradient(circle, rgba(207,164,148,1) 0%, rgba(223,144,105,1) 100%);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}
#slogan a:hover{
    background: rgb(255,182,155);
    background: radial-gradient(circle, rgba(255,182,155,1) 0%, rgba(95,98,107,1) 100%);
    color: black;
}
    /* SECTION " */
#section-2{
    width: 100vw;
    height: 30vh;
    background-color: black;
}
#section-2-container{
    width: 100vw;
    height: 30vh;
    display: flex;
    color: white;
}
    /* SECTION 3 */

    #section-3{
        height: 100vh;
        width:100vw;
        max-width: 100%;
        background-color: white;
    }
    #section-3-container{
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        display: flex;
    }
    .sec1-box, .sec2-box, .sec3-box {
        background-color: #000;
        color: #fff;
        display: inline-block;
        width: 33.3vw;
        overflow: hidden;
        position: relative;
        text-align: center; 
      }
      .sec1-box{
        background: url('../images/amsterdam\ index.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .sec2-box{
        background: url('../images/singapore\ index.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .sec3-box{
        background: url('../images/marrakech\ index.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

      }
      
      .section-3-container * {
        box-sizing: border-box;
        transition: all 0.45s ease;
      }
      
      .sec1-box:before, .sec1-box:after, .sec2-box:before, .sec2-box:after, .sec3-box:before, .sec3-box:after{
        background-color: rgba(0, 0, 0, 0.5);
        border-top: 32px solid rgba(0, 0, 0, 0.5);
        border-bottom: 32px solid rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        transition: all 0.3s ease;
        z-index: 1;
        opacity: 0;
        transform: scaleY(2);
      }
      
      .sec1-box  img, .sec2-box  img, .sec3-box  img {
        vertical-align: top;
        max-width: 33vw;
        backface-visibility: hidden;
      }
      
      .sec1-box div, .sec2-box div, .sec3-box div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.1em;
        opacity: 0;
        z-index: 2;
        transition-delay: 0.1s;
        font-size: 24px;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      
      .sec1-box a, .sec2-box a, .sec3-box a{
        text-decoration: none;
        color: white;
      }
      .sec1-box:hover:before, .sec1-box:hover:after, .sec2-box:hover:before, .sec2-box:hover:after, .sec3-box:hover:before, .sec3-box:hover:after {
        transform: scale(1);
        opacity: 1;
      }
      
      .sec1-box:hover > img, .sec2-box:hover > img, .sec3-box:hover > img {
        opacity: 0.7;
      }
      
      .sec1-box:hover div, .sec2-box:hover div, .sec3-box:hover div {
        opacity: 1;
      }

    /* FOOTER */ 

footer{
    max-width: 100%;
    width: 100vw;
    height:30vh;
    max-height: 100%;
    background-color: black;
    font-family: teko, sans-serif;
    letter-spacing: 4px;
    border-top: 2px white solid;
}
#footer-container{
    height: 30vh;
}
#social-media-icons h2{
    margin-top: 1vh;
    color: white;
    text-align: center;
}
#social-media-icons{
    margin:1%;
    width: 30vw;
    margin: auto;
}
.social-networks i{
    font-size: 4vh;
    color:rgb(255, 255, 255);
} 
.social-networks li{
    list-style: none;
    text-align: center;
    padding:7.5%;
    display: inline;
}

    /* CONTACT */ 

    #contactheader-box{
        height: 80px;
        width: 100vw;
        max-width: 100%;
    }
    #contact-background-image-container{
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        position: relative;
    }
    #contact-background-image{
        background-color:black;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    #contact-container{
        height:100vh;
        width: 100vw;
        display: flex;
        max-width: 100%;
    }
    #contact-info-container{
        height:90vh;
        width: 30vw;
        margin-left: 5vw;
    }
    #contact-head{
        font-family: teko, sans-serif;
        font-size: 6vh;
        height:10vh;
        width: 30vw;
        color: white;
        padding-top: 2vh;
    }
    #contact-text{
        margin-top: 1vh;
        height: 10vh;
        color: white;
        font-family: teko, sans-serif;
        font-size: 3vh;
        letter-spacing: 2px;
    }
    #contact-text a{
        color: white;
    }
    #location-header{
        color: white;
        text-align: center;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }
    #map iframe{
        height:57vh;
        width:30vw;
    }
    #signup-container{
        width: 50vw;
        height:50vh;
        font-size: 200%;
        margin-left: 20vw;
        margin-top: 1%;
    
    }
    #signup-form h2{
        font-size: 8vh;
        color: white;
        text-align: center;
    }
    #signup-form{
        border-radius: 20px;
        height: 50vh;
        width: 30vw;
    }
    .form-input{
        background: transparent;
        color:rgb(255, 255, 255);
        width: 17.5vw;
        height: 4vh;
        font-size: 3vh;
        margin:0 0 5px 10px;
        border-bottom: 3px solid rgb(255, 255, 255);
        border-radius: 2px;
    }
    .text-form{
        color: white;
        justify-content:center;
        width: 20vw;
        margin-top: 5vh;
    }
    #full-name{
        color: white;
        font-size: 4vh;
        font-weight: 800;
        margin-bottom: 2vh;
    }
    #email-address{
        font-size: 4vh;
        font-weight: 800;
    }
    #radio{
        text-align: left;
        font-size: 4vh;
        font-weight: 800;
        margin-top: 2vh;
        margin-bottom: 2vh;
        letter-spacing: 2px;
        color: white;
    }
    .submit{
        width: 10vw;
        margin-left:5vw;
        margin-bottom: 1vh;
        margin: auto;
        font-size: 3vh;
        background-color: #fff6f6;
        color:#000000;
        display: block
    }
    .submit:hover{
        background-color: rgb(36, 36, 36);
        color: white;
    }

    /* DESTINATIONS */ 

    #destination-background-image-container{
        background: url('../images/singapore-trip.jpg');
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-color: rgb(0, 0, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #trip1-container, #trip3-container{
        max-width: 100%;
        width: 100vw;
        height:100vh;
        display: flex;
        color: white;
    }
    #trip1-box, #trip3-box{
        height: 80vh;
        width: 50vw;
        margin-top: 10vh;
    }
    .trip1, .trip3{
        width: 50vw;
        height: 30vh;
    }
    .trip1-text h2, .trip3-text h2{
        text-align: center;
        font-size: 10vh;
    }
    .trip1-text p, .trip3-text p{
        text-align: center;
        font-size: 5vh;
    }
    .trip1-link p, .trip-link p{
        font-size: 5vh;
        text-align: center;
    }
    .trip1-link a{
        margin-left:45%;
        font-size: 4vh;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        background-color: rgb(51, 7, 55);
        text-decoration: none;
        border: 1px rgb(51, 7, 55) solid;
    }
    .trip1-link a:hover{
        color: rgb(51, 7, 55);
        background-color: white;
    }
    #trip2-background-image{
        background: url('../images/marrakech-bg.jpg');
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-color: rgb(0, 0, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #trip2-container{
        max-width: 100%;
        width: 100vw;
        height:100vh;
        display: flex;
        color: rgb(0, 0, 0);
    }
    #trip2-box{
        height: 80vh;
        width: 50vw;
        margin-top: 10vh;
        margin-left: 45vw;
    }
    .trip2{
        width: 50vw;
        height: 30vh;
    }
    .trip2-text h2{
        text-align: center;
        font-size: 10vh;
    }
    .trip2-text p{
        text-align: center;
        font-size: 5vh;
    }
    .trip2-link{
        font-size: 5vh;
        margin-top: 2%;
    }
    .trip2-link a{
        margin-left:47%;
        font-size: 4vh;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        background-color: rgb(211, 161, 120);
        text-decoration: none;
        border: 1px rgb(0, 0, 0) solid;
    }
    .trip2-link a:hover{
        color: rgb(211, 161, 120);
        background-color: white;
        border: rgb(211, 161, 120);
    }
    #trip3-background-image{
        background: url('../images/amsterdam-bg.jpg');
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-color: rgb(0, 0, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .trip3-link{
        font-size: 5vh;
        margin-top: 2%;
    }
    .trip3-link a{
        margin-left:47%;
        font-size: 4vh;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        color: rgb(255, 255, 255);
        background-color: rgb(36, 43, 54);
        text-decoration: none;
        border: 1px rgb(36, 43, 54) solid;
    }
    .trip3-link a:hover{
        color: rgb(36, 43, 54);
        background-color: white;
        border: rgb(255, 255, 255);
    }

    /* CSS STYLE ANIMATION */
    
    
        header a, #section-3 a {
        display: inline-block;
        position: relative;
        color: #ffffff;
      }
      
      header a:after, #section-3 a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      
      header a:hover:after, #section-3 a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }

      /* ABOUT */ 
    
    #about-background-container{
        height: 100vh;
        width: 100vw;
        max-width: 100%;
    }
    #about-background{
        background-color: black;
        height: 90vh;
        width: 100vw;
        max-width: 100%;
    }
    #about1{
        margin: 10% 50% 0 14.7%;
        width: 45vw;
        height:50vh;
        color: white;
        font-size: 120%;
        letter-spacing: 2px;
        word-spacing: 2px;
    }
    #about1 h2{
        font-size: 300%;
    }
    #about2-container, #about3-container, #about4-container, #about5-container{
        max-width: 100%;
        height: 100vh;
        width: 100vw;
        background-color: black;
        display: flex;
    }
    #about2-image{
        background: url('../images/index\ background\ 1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70vw;
        height: 100vh;
        margin:auto;
    }
    .about3{
        width: 35vw;
        height: 85vh;
    }
    .about3-text{
        color: white;
        padding-top: 15vh;
        margin-left: 14.7vw;
        font-size: 120%;
        letter-spacing: 2px;
        word-spacing: 2px;
    }
    .about3-text h2{
        font-size: 300%;
    }
    .about3-image{
        background: url('../images/about\ 3\ .jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top: 15vh;
        margin-right: 14.7vw
    }
    #about4-image{
        background: url('../images/about-bg-image-2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70vw;
        height: 100vh;
        margin:auto;
    }
     .about5{
        width: 35vw;
        height: 100vh;
    }
    
    .about5-text{
        color: white;
        padding-top: 15vh;
        margin-right: 14.7vw;
        font-size: 120%;
        letter-spacing: 2px;
        word-spacing: 2px;
    }
    .about5-text h2{
        font-size: 300%;
    }
    
    .about5-image{
        background: url('../images/about-image-4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        margin-top: 15vh;
        margin-left: 14.7vw
    }
