@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
    padding: 0;
    margin: 0;
    border: none;
}
#header-box{
    height: 80px;
    width: 100%;
    background-color: rgb(94, 94, 94, .5);
}
#title{
    text-decoration: none;
    color: black;
    float: left;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}
#menu{
    float: right;
    margin-right: 20px;
}
#menu, #title{
    line-height: 70px;
}
#menu a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#menu li{
    list-style: none;
    display: inline;
}
#background-image-container{
    height: 710px;
    width: 100%;
    position: relative;
}
#background-image{
    background: url('../images/cover-photo.jpg');
    height: 710px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#travel-text{
	padding-top: 20px;
	width: 100%;
	font-size: 200%;
	text-align: center;
}
#box-container{
    height: 660px;
    width: 100%;
    display: flex;
}
.box{
    height:650px;
    width: 34%;
}
#box1-child1, #box2-child1, #box3-child1{
    border: 1px solid rgb(0, 0, 0);
    background-color: black;
    height: 450px;
    width: 450px;
    margin: auto;
	margin-top: 10%;
    border-radius: 30px;
}
#box1-child2, #box2-child2, #box3-child2{
    height: 50px;
    width: 200px;
    margin:auto;
    margin-top: 5%;
    text-align: center;
}
#box1-child2 a, #box2-child2 a, #box3-child2 a{
    text-decoration: none;
    font-size: 200%;
    color: black;
    text-align: justify;
}
#box1-child1{
    background: url('../images/Singapore-cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#box2-child1{
    background: url('../images/marrakech-cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#box3-child1{
    background: url('../images/Amsterdam-cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}





footer{
    height: 150px;

}
.social-networks{
    text-align: center;
}
 .social-networks > li {
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#3a3a3a;
}