    /* ALL */

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
*{
    padding: 0;
    margin: 0;
    border: none;
    font-family: teko, sans-serif;
    color: white;
    max-width: 100%;
}     
body{
    background-color: #000;
}  

    /* HEADER */
    #header-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 1em;
    }
      
    .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
      
    .menu > li {
        margin: 0 1rem;
        overflow: hidden;
        font-size: 150%;
    }
      
    .menu-button-container {
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
      
    #menu-toggle {
        display: none;
    }
      
    .menu-button,
    .menu-button::before,
    .menu-button::after {
        display: block;
        background-color: #fff;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
    }
      
    .menu-button::before {
        content: '';
        margin-top: -8px;
    }
      
    .menu-button::after {
        content: '';
        margin-top: 8px;
    }
      
    #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
    }
      
    #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
    }
      
    #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
    }

    /* INDEX */

    #background-container{
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        position: relative;
    }
    #index-background{
        background: url('../images/index\ background\ 3.jpg');
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        position: absolute;
    }
    #slogan-container{
        margin: auto;
        width:100vw;
        height:80vh;
        font-size: 300%;
    }
    #slogan{
        margin: auto;
        height: 70vh;
        width: 80vw;
        text-align: center;
        margin-top: 5%;
    }

    #slogan a{
        text-decoration: none;
        padding: .25% 1% .25% 1%;
        font-size: 45%;
        background: rgb(207,164,148);
        background: radial-gradient(circle, rgba(207,164,148,1) 0%, rgba(223,144,105,1) 100%);
        border-radius: 10px;
    }
    #slogan a:hover{
        background: rgb(255,182,155);
        background: radial-gradient(circle, rgba(255,182,155,1) 0%, rgba(95,98,107,1) 100%);
        color: black;
    }

        /* SECTION " */

    #index-section2{
        width: 100vw;
        height: 20vh;
        max-width: 100%;
        background-color: rgb(202, 149, 130);
        font-size: 4vh;
        padding-top: 35px;
    }
    #index-section2-container{
        width: 100vw;
        height: 30vh;
        margin: auto;
        text-align: center;
        font-size: 100%;
    }
        /* SECTION 3 */

    #index-section3{
        height: 100vh;
        width:100vw;
        max-width: 100%;
        background-color: white;
        }
    #index-section3-container{
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        display: flex;
        }
    .sec1-box, .sec2-box, .sec3-box {
        background-color: #000;
        color: #fff;
        display: inline-block;
        width: 33.333vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
        text-align: center; 
        }
    .sec1-box{
        background: url('../images/amsterdam\ index.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    .sec2-box{
        background: url('../images/singapore\ index.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
    .sec3-box{
        background: url('../images/marrakech\ index.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        }
        
    #index-section3-container * {
        box-sizing: border-box;
        transition: all 0.45s ease;
        }
        
    .sec1-box:before, .sec1-box:after, .sec2-box:before, .sec2-box:after, .sec3-box:before, .sec3-box:after{
        background-color: rgba(0, 0, 0, 0.5);
        border-top: 32px solid rgba(0, 0, 0, 0.5);
        border-bottom: 32px solid rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        transition: all 0.3s ease;
        z-index: 1;
        opacity: 0;
        transform: scaleY(2);
        }
        
    .sec1-box  img, .sec2-box  img, .sec3-box  img {
        vertical-align: top;
        max-width: 33vw;
        backface-visibility: hidden;
        }
        
    .sec1-box div, .sec2-box div, .sec3-box div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        align-items: center;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.1em;
        opacity: 0;
        z-index: 2;
        transition-delay: 0.1s;
        font-size: 24px;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        }
        
    .sec1-box a, .sec2-box a, .sec3-box a{
        text-decoration: none;
        color: white;
        }

    .sec1-box:hover:before, .sec1-box:hover:after, .sec2-box:hover:before, .sec2-box:hover:after, .sec3-box:hover:before, .sec3-box:hover:after {
        transform: scale(1);
        opacity: 1;
        }
        
    .sec1-box:hover > img, .sec2-box:hover > img, .sec3-box:hover > img {
        opacity: 0.7;
        }

    .sec1-box:hover div, .sec2-box:hover div, .sec3-box:hover div {
    opacity: 1;
    }
        /* FOOTER */ 

    footer{
        max-width: 100%;
        width: 100vw;
        height:20vh;
        background-color: black;
        font-family: teko, sans-serif;
        letter-spacing: 4px;
        border-top: 2px white solid;
    }
    #footer-container{
        height: 20vh;
    }
    #social-media-icons h2{
        margin-top: 2%;
        color: white;
        text-align: center;
    }
    #social-media-icons{
        width: 50vw;
        margin: auto;
        text-align: center;
    }
    .social-networks i{
        font-size: 5vh;
        padding-top: 4%;
        color:rgb(255, 255, 255);
    } 
    .social-networks li{
        list-style: none;
        text-align: center;
        margin:0 5% 0 5%;
        display: inline;
    }

    /* CONTACT */ 

    #contactheader-box{
        height: 100px;
        width: 100vw;
        max-width: 100%;
    }
    #contact-background-image-container{
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        position: relative;
    }
    #contact-background-image{
        background-color:black;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    #contact-container{
        height:100vh;
        width: 100vw;
        display: flex;
        max-width: 100%;
    }
    #contact-info-container{
        height:90vh;
        width: 50vw;
        margin-left: 5vw;
    }
    #contact-head{
        font-family: teko, sans-serif;
        font-size: 6vh;
        height:10vh;
        width: 30vw;
        color: white;
        padding-top: 2vh;
    }
    #contact-text{
        margin-top: 1vh;
        height: 10vh;
        color: white;
        font-family: teko, sans-serif;
        font-size: 3vh;
        letter-spacing: 2px;
    }
    #contact-text a{
        color: white;
    }
    #location-header{
        color: white;
        text-align: center;
        margin-top: 3vh;
        margin-bottom: 1vh;
    }
    #map iframe{
        height:52vh;
        width:50vw;
    }
    #signup-container{
        width: 50vw;
        height:50vh;
        font-size: 200%;
        margin-left: 5vw;
        margin-top: 1%;
    
    }
    #signup-form h2{
        font-size: 8vh;
        color: white;
        text-align: center;
    }
    #signup-form{
        border-radius: 20px;
        height: 50vh;
        width: 30vw;
    }
    .form-input{
        background: transparent;
        color:rgb(255, 255, 255);
        width: 17.5vw;
        height: 4vh;
        font-size: 3vh;
        margin:0 0 5px 10px;
        border-bottom: 3px solid rgb(255, 255, 255);
        border-radius: 2px;
    }
    .text-form{
        color: white;
        justify-content:center;
        width: 20vw;
        margin-top: 5vh;
    }
    #full-name{
        color: white;
        font-size: 4vh;
        font-weight: 800;
        margin-bottom: 2vh;
    }
    #email-address{
        font-size: 4vh;
        font-weight: 800;
    }
    #radio{
        text-align: left;
        font-size: 4vh;
        font-weight: 800;
        margin-top: 2vh;
        margin-bottom: 2vh;
        letter-spacing: 2px;
        color: white;
    }
    .submit{
        padding: 2.5% 5% 2.5% 5%;
        width: 80px;
        margin-left:5vw;
        margin-bottom: 1vh;
        margin: auto;
        font-size: 16px;
        background-color: #fff6f6;
        color:#000000;
        display: block
    }
    .submit:hover{
        background-color: rgb(36, 36, 36);
        color: white;
    }

    /* DESTINATIONS */ 

    #destination-background-image-container{
        background: url('../images/singapore-trip.jpg');
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-color: rgb(0, 0, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #trip2, #trip3{
        height: 100vh;
        width: 100vw;
        border-top: .1px solid;
    }

    #trip1-box, #trip2-box, #trip3-box{
        border-radius: 15px;
        height:50vh;
        width:35vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        border: rgb(255, 255, 255, .5) solid 1px;
    }

    .trip-1, .trip-2, .trip-3{
        text-align: center;
        width: 35vw;
    }

    .trip-1-h2, .trip-2-h2, .trip-3-h2{
        font-size: 250%;
        border-bottom: #fff solid 2px;
        padding-bottom: 2vh;
    }

    .trip-1-p, .trip-2-p, .trip-3-p{
        font-size: 150%;
        border-bottom: #fff solid 2px;
    }

    .trip-1-link, .trip-2-link, .trip-3-link{
        margin-top: 5vh;
        font-size: 150%;
    }

    .trip-1-link a{
        background-color: rgb(75, 8, 75);
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
    }

    .trip-2-link a{
        background-color: rgb(212, 168, 93);
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
    }
    
    .trip-3-link a{
        background-color: rgb(15, 6, 71);
        text-decoration: none;
        border-radius: 10px;
        padding: 5px;
    }

    .trip-1-link a:hover, .trip-2-link a:hover, .trip-3-link a:hover{
        background-color: white;
        color: black;
    }

    #trip2-background-image{
        background: url('../images/marrakech-bg.jpg');
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-color: rgb(0, 0, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #trip2-box, #trip3-box{
        margin-top: 20vh;
    }

    #trip3-background-image{
        background: url('../images/amsterdam-bg.jpg');
        height: 100vh;
        width: 100vw;
        max-width: 100%;
        background-color: rgb(0, 0, 0);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    /* LOCATIONS */ 

#singapore-container1, #singapore-container2, #singapore-container3, 
#marrakech-container1, #marrakech-container2, #marrakech-container3, 
#amsterdam-container1, #amsterdam-container2, #amsterdam-container3{
  height: 85vh;
  width: 100vw;
  display: flex;
}

.singapore-text1, .singapore-text3, .marrakech-text1, .marrakech-text3, .amsterdam-text1, .amsterdam-text3{
  width: 55vw;
  height: 80vh;
  margin: 0 .5vw 0 2vw;
}

.singapore-img1, .singapore-img3, .marrakech-img1, .marrakech-img3, .amsterdam-img1, .amsterdam-img3{
  width: 40vw;
  height: 80vh;
  margin: 0 2vw 0 .5vw;
}

.singapore-text2, .marrakech-text2, .amsterdam-text2{
  width: 55vw;
  height: 80vh;
  margin: 0 2vw 0 .5vw;
}

.singapore-img2, .marrakech-img2, .amsterdam-img2{
  width: 40vw;
  height: 80vh;
  margin: 0 .5vw 0 2vw;
}
.singapore-img1{
  background: url('../images/singapore\ about2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.singapore-img2{
  background: url('../images/singapore\ about3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.singapore-img3{
  background: url('../images/singapore\ about4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.amsterdam-img1{
  background: url('../images/amasterdam\ about1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.amsterdam-img2{
  background: url('../images/amsterdam\ about3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.amsterdam-img3{
  background: url('../images/amsterdam\ about2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.marrakech-img1{
  background: url('../images/marrakech\ about1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.marrakech-img2{
  background: url('../images/marrakech\ ABOUT2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.marrakech-img3{
  background: url('../images/marrakech3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.singapore-text1 h2, .singapore-text2 h2, .singapore-text3 h2,
.amsterdam-text1 h2, .amsterdam-text2 h2, .amsterdam-text3 h2, 
.marrakech-text1 h2, .marrakech-text2 h2, .marrakech-text3 h2{
    font-size: 300%;
}
.singapore-text1 p, .singapore-text2 p, .singapore-text3 p, 
.amsterdam-text1 p, .amsterdam-text2 p, .amsterdam-text3 p, 
.marrakech-text1 p, .marrakech-text2 p, .marrakech-text3 p{
    font-size: 125%;
    letter-spacing: 1px;
}

    /* CSS STYLE ANIMATION */
        
    header a, #section-3 a {
        display: inline-block;
        position: relative;
        color: #ffffff;
    }
      
      header a:after, #section-3 a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
      
    header a:hover:after, #section-3 a:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

      /* ABOUT */ 
    
    #about-background-container{
        height: 90vh;
        width: 100vw;
        max-width: 100%;
        background-color: #000;
    }
    
    #about-background1{
        height: 90vh;
        width: 100vw;
        max-width: 100%;
    }

    #about1{
        height: 50vh;
        width: 80vw;
        margin: auto;
        margin-top: 20vh;
    }
    #about1 h2{
        font-size: 7vw;
        text-align: center;
    }
    #about1 p {
        font-size: 150%;
        text-align: center;
    }
    #about2, #about3, #about4, #about5{
        height: 100vh;
        width: 100vw;
        background-color: #000;
    }
    #about2-image-container, #about4-image-container{
        height: 100vh;
        width: 80vw;
        margin: auto;
    }
    #about2-image{
        background: url('../images/about-bg-image-2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 80vw;
    }
    #about3-container, #about5-container{
        height: 100vh;
        width: 80vw;
        margin: auto;
        display: flex;
    }
    .about-3, .about-5{
        height:90vh;
        width:40vw;
        margin-top: 3vh;
    }
    .box1 h2, .box4 h2{
        font-size: 6vw;
    }
    .box1 p, .box4 p{
        font-size: 150%;
    }
    .box4{
        margin-left: 1vw;
    }
    .box2, .box3{
        height:90vh;
    }
    .box2{
        background: url('../images/about\ 3\ .jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .box3{
        background: url('../images/about-image-4.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    #about4-image{
        background: url('../images/index\ background\ 1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 80vw;
    }
    #about-explore{
        text-align: center;
        margin-top: 5vh;
    }
    #about-explore a{
        background-color: rgb(255, 255, 255);
        color: #000;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        text-decoration: none;
    }
    #about-explore a:hover{
        background-color: rgb(95, 182, 241);
        color: #000;
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        text-decoration: none;
    }

    /* RESPONSIVE DESIGN */ 

    @media (max-width: 950px) {
        .menu-button-container {
          display: flex;
        }
        .menu {
          position: absolute;
          top: 0;
          margin-top: 50px;
          left: 0;
          flex-direction: column;
          width: 100%;
          justify-content: center;
          align-items: center;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms 
          cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
          border: 1px solid #333;
          height: 2.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);

        }
        .menu > li {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: white;
          background-color: #222;

        }
        .menu > li:not(:last-child) {
          border-bottom: 1px solid #444;
        }

        /* CONTACT QUERY */

        #contact-background-image-container{
            height: 170vh;
            background-color: black;
        }

        #contact-container{
            height:100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            max-width: 100%;
        }
        #contact-info-container{
            width: 90vw;
            margin: auto;
        }

        #contact-head{
            text-align: center;
            width: 90vw;

        }
        #contact-text{
            text-align: center;
        }
        #map iframe{
            height: 60vh;
            width: 90vw;
        }
        .submit{
            padding: 5px;
        }
      /* SIGN UP FORM QUERY */ 
      #signup-container{
            width: 90vw;
            height:120vh;
        }
        #signup-form h2{
            font-size: 6vh;
            margin-top: 5%;
            width: 90vw;
        }
        #signup-form{
            height: 50vh;
            width: 90vw;
            margin: auto;
        }
        .form-input{
            width: 25vw;
            height: 4vh;
            font-size: 3vh;
        }
        .text-form{
            margin: auto;
            width: 90vw;
            display: flex;
            flex-direction: column;
        }
        #full-name{
            margin-top: 5%;
            font-weight: 800;
            text-align: center;
        }
        #email-address{
            font-size: 4vh;
            font-weight: 800;
            text-align: center;
        }
        #radio{
            margin-top: 2%;
            text-align: center;
        }

        /* LOCATIONS */
        #singapore-container1, #singapore-container2, #singapore-container3, 
        #marrakech-container1, #marrakech-container2, #marrakech-container3, 
        #amsterdam-container1, #amsterdam-container2, #amsterdam-container3{
            height: 160vh;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .singapore-text1, .singapore-text3, .marrakech-text1, .marrakech-text3, .amsterdam-text1, .amsterdam-text3{
            width: 98vw;
            height: 85vh;
            margin: 1vh 1vw 1vh 1vw;
        }

        .singapore-img1, .singapore-img3, .marrakech-img1, .marrakech-img3, .amsterdam-img1, .amsterdam-img3{
            width: 98vw;
            height: 85vh;
            margin: 0 1vw 0 1vw;
        }

        .singapore-text2, .marrakech-text2, .amsterdam-text2{
            width: 98vw;
            height: 85vh;
            margin: 1vh 1vw 1vh 1vw;
        }

        .singapore-img2, .marrakech-img2, .amsterdam-img2{
            width: 98vw;
            height: 85vh;
            margin: 0 1vw 0 1vw;
        }
        
    }

    @media screen and (max-width:750px) {

        #slogan{
            font-size: 90%;
        }

        #index-section3{
            height: 150vh;
            width:100vw;
            max-width: 100%;
            background-color: white;
        }

        .section2{
            font-size: 90%;
            padding-top: 2vh;
        }

        #index-section3-container{
            height: 180vh;
            display: flex;
            flex-direction: column;
        }

        .sec1-box, .sec2-box, .sec3-box{
            width: 100vw;
            height: 50vh;
        }

        .social-networks i{
            font-size: 2vh;
            color:rgb(255, 255, 255);
        }

         /* ABOUT */ 
         #about-background-container{
            height: 75vh;
        }
            
        #about1{
            margin-top: 10vh;
            margin-bottom: 10vh;
        }

        #about1 p {
            font-size: 130%;
        }

        #about3, #about5{
            height: 160vh;
        }
        
        #about2{
            height:70vh;
        }
        
        #about2-image-container, #about4-image-container{
            height: 80vh;
        }
        
        #about2-image{    
            height: 80vh;
        }
        
        #about3-container{
            height: 150vh;
            margin: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
            
        .about-3, .about-5{
            height:100vh;
            width:80vw;
            margin-top: 5vh;
        }

        .box1{
            height: 80vh;
        }
        
        .box1 h2, .box4 h2{
            font-size: 8vw;
        }

        .box1 p, .box4 p{
            font-size: 130%;
        }
 
        .box4{
           margin-left: 1vw;
        }

        .box2, .box3{
            height:90vh;
        }
    
        .box2, #about4-image, .box3{
            height: 70vh;
        }
        
        #about4{
            height: 65vh;    
        }  
        
        #about5-container{
            height: 200vh;
            display: flex;
            flex-direction: column;
            text-align: center;
        }

            /* Destination */
        #trip1-box, #trip2-box, #trip3-box{
            border-radius: 0px;
            height:50vh;
            width:100vw;
            margin: auto;
            margin-top: 20vh;
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            border: rgb(255, 255, 255, .5) solid 1px;
            }
            
        .trip-1, .trip-2, .trip-3{
            text-align: center;
            width: 100vw;
        }
        
        .trip-1-h2, .trip-2-h2, .trip-3-h2{
            font-size: 150%;
        }

        .trip-1-p, .trip-2-p, .trip-3-p{
            font-size: 150%;
        }
            
        /* FOOTER */ 

        #social-media-icons h2{
            margin-top: 2%;
            color: white;
            text-align: center;
            margin-bottom:5vh ;
        }
        
        .social-networks i{
            font-size: 5vh;
            color:rgb(255, 255, 255);
        } 

    }
    @media screen and (max-width:550px) {
        #index-section3-container * {
            box-sizing: border-box;
            transition: none;
            }
            #index-background{
                background-attachment: scroll;
            }
            
        .sec1-box:before, .sec1-box:after, .sec2-box:before, .sec2-box:after, .sec3-box:before, .sec3-box:after{
            background-color: rgba(0, 0, 0, 0.2);
            border-top: 32px solid rgba(0, 0, 0, 0.2);
            border-bottom: 32px solid rgba(0, 0, 0, 0.2);
            opacity: 1;
            }
            
        .sec1-box div, .sec2-box div, .sec3-box div {
            opacity: 1;
            }
            
        .singapore-text1 p, .singapore-text2 p, .singapore-text3 p, 
        .amsterdam-text1 p, .amsterdam-text2 p, .amsterdam-text3 p, 
        .marrakech-text1 p, .marrakech-text2 p, .marrakech-text3 p{
            font-size: 110%;
        }
        
        .singapore-text1, .singapore-text3, .marrakech-text1, .marrakech-text3, .amsterdam-text1, .amsterdam-text3{
            height: 92vh;
        }
        
        .singapore-text2, .marrakech-text2, .amsterdam-text2{
            height: 90vh;
        }

        #trip2-background-image,#trip3-background-image, #destination-background-image-container{
            background-attachment: scroll;
        }
        
        #contact-background-image-container{
            height: 180vh;
        }
        #signup-container{
            max-width: 100%;
            height: 100vh;
        }
        #signup-form h2{
            padding-top: 20px;
            font-size: 30px;
        }
        #signup-form{
            height: 90vh;
            width: 90vw;
        }
        .form-input{
            background: transparent;
            color:rgb(255, 255, 255);
            width: 50vw;
            text-align: center;
            height: 4vh;
            font-size: 3vh;
            margin:0 0 5px 10px;
            border-bottom: 3px solid rgb(255, 255, 255);
            border-radius: 2px;
        }
        
        #full-name{
            height: 15vh;
        }
        #email-address{
            height: 15vh;
        }
        #radio{
            font-size: 20px;
            margin-top: 2vh;
        }
    }
        @media screen and (max-width:535px) {

            .social-networks i{
                font-size: 3vh;
            } 

            #social-media-icons{
                width: 70vw;
            }
        }